.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 100%;
    margin-top: 2rem;

    color: white !important;
    font-family: 'Courier New', Courier, monospace;
}

.card p {
    width: 100%;
    text-align: center;
}

.card p a {
    color: #F24C3D;
    font-weight: bolder;
    text-decoration: none;
}

.cardHeader {

    background-color: #F24C3D;
    opacity: 0.8;
    background-image: repeating-linear-gradient(45deg, #22A699 25%, transparent 25%, transparent 75%, #22A699 75%, #22A699), repeating-linear-gradient(45deg, #22A699 25%, #F24C3D 25%, #F24C3D 75%, #22A699 75%, #22A699);
    background-position: 0 0, 8px 8px;
    background-size: 16px 16px;

}

.cardHeader span {
    font-size: 4rem !important;
    text-shadow: 3px 3px 3px #000 !important;
    text-align: center;
}

.cardContent {
    background-color: #22A699;
}


.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
    font-size: 1.3rem;
}

.inputWrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}

.inputWrapper label {
    width: 5rem;
}

.inputWrapper input {
    width: 60%;
    height: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    padding: 0.5rem;
    outline: none;
    color: #22A699;
    font-weight: bolder;
    font-size: 1.2rem;
}

.inputWrapper input:focus {
    border: 1px solid #F29727;
    color: #F24C3D;
}

.form span {
    color: #ffffff;
    text-shadow: 2px 2px 2px #ff004cc7;
    line-height: 2rem;
    font-weight: bolder;
    font-size: 1.5rem;
}

.form button[type="submit"] {
    width: 100%;
    height: 2rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #F24C3D;
    cursor: pointer;
    color: white;
    font-size: 1.5rem;
    font-weight: bolder;
}