.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    opacity: 1;

}

.title {
    font-size: 1.5rem;
    font-weight: 700;
}

.title span {
    display: block;
    color: #F24C3D;
    text-transform: capitalize;
}

.title span::first-letter {
    color: #22A699;
    font-size: 3rem;
    font-family: 'Courier New', Courier, monospace;
}

.card {
    width: 85%;
    background-color: white;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #F24C3D;
    text-align: center;
}

.header span {
    font-size: 1rem;
    font-weight: 700;
    color: #22A699;
}

.header .avatar {
    background-color: #F2BE22;
    color: #F24C3D;
}

.content {
    width: 100%;
}

.content .imgwrapper {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.content .imgwrapper img {
    width: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}